{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content %}
	{% if flag %}
  <legend class = "border-bottom mb-4"><img  src="/static/log-in.png" width = "35" height = "35" alt="home" /><strong>Adding New Resident</strong></legend>
    {% else %}
    <legend class = "border-bottom mb-4"><img  src="/static/watchman.png" width = "35" height = "35" alt="home" /><strong>Adding New Watchman</strong></legend>
    {% endif %}
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <fieldset class="form =-group">
          {{user_form|crispy}}
          {{details_form|crispy}}
        </fieldset>
        <div class="form-group">
            <input type="submit">
    </form>
{% endblock content %}
