{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'table.css' %}">	
    <meta charset="utf-8">
  </head>
  <body>


    <legend class = "border-bottom mb-4"><h1 class="text-center"> <strong>Add Occupancy</strong></h1></legend>
    <div  id = "lodge_complaint_button">
       <button class="btn btn-outline-success "><a href="/view/">View Main</a></button>
       <!-- <button class="btn btn-outline-success my-2 my-sm-0"><a href="/view/view_occupancy">View Occupancies</a></button> -->
       
    </div>
    <div  id = "lodge_complaint_button">
       <!-- <button class="btn btn-outline-success my-1 my-sm-0"><a href="/view/">View Main</a></button> -->
       <button class="btn btn-outline-success "><a href="/view/view_occupancy">View Occupancies</a></button>
       
    </div>

{% if user.is_authenticated and user.is_superuser %}
<form method="POST">
  {% csrf_token %}
        <article class="media content-section">
             <label for="flat">Choose Flat:   </label>
          <select name="flat" id="flat" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown dropright">
        {% for complaint in flat %}
            <option value="{{complaint.flat_id}}">{{complaint.flat_no}}</option>
        {% endfor %}
          </select> 
        </article>

        <article class="media content-section">
         <label for="user1">Choose User:   </label>
          <select name="user1" id="user1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown dropright">
      {% for complaint in user1 %}
            <option value="{{complaint}}">{{complaint.first_name}}</option>
      {% endfor %}
          </select> 
        </article>
        
        <article class="media content-section">
         <label for="flat">Select Ownership:   </label>
          <select name="ownership" id="ownership" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown dropright">
            <option value="Tenant">Tenant</option>
            <option value="Owner">Owner</option>
          </select> 
        </article>

    <input type="submit" class="btn btn-outline-success" value="Enter"/>
  </form>
{% endif %}
  </body>

</html>
{% endblock %}