{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'table.css' %}">	
    <meta charset="utf-8">
  </head>
  <body>

    <legend class = "border-bottom mb-4"><h1 class="text-center"> <strong>Flats</strong></h1></legend>
    {% if user.is_authenticated and user.is_superuser %}
    <div  id = "lodge_complaint_button">
       <button class="btn btn-outline-success my-2 my-sm-0"><a href="/view/">View Main</a>
       </button>
    </div>
    {% endif %}
        {% if user.is_authenticated and user.is_superuser %}
        {% for complaint in all_flats %}
        <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <medium class="text-primary"><b>Flat No</b> : {{ complaint.flat_no }}</br></medium>
            <medium class="text-primary"><b>Building</b> : {{ complaint.building_id.building_name }}</br></medium>
            <medium class="text-muted"><b>Flat Type</b> : {{ complaint.flat_type }} BHK</br></medium>
            <medium class="text-muted"><b>Flat Area</b> : {{ complaint.flat_area }}</br></medium>
            <medium class="text-muted"><b>Vaccancy</b> : {{ complaint.vaccancy }}</br></medium>
          </div>
        </div>
        </article>
      {% endfor %}

      {% else %}    
        {% for complaint in flat_model %}
        <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <medium class="text-primary"><b>Flat No</b> : {{ complaint.flat_no }}</br></medium>
            <medium class="text-primary"><b>Building</b> : {{ complaint.building_id.building_name }}</br></medium>
            <medium class="text-muted"><b>Flat Type</b> : {{ complaint.flat_type }} BHK</br></medium>
            <medium class="text-muted"><b>Flat Area</b> : {{ complaint.flat_area }}</br></medium>
            <medium class="text-muted"><b>Vaccancy</b> : {{ complaint.vaccancy }}</br></medium>
          </div>
        </div>
        </article>
      {% endfor %}
    {% endif %}
  </body>
</html>
{% endblock %}