{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'table.css' %}">	
    <meta charset="utf-8">
  </head>
  <body>
    <div  id = "lodge_complaint_button">
       <button class="btn btn-outline-success my-2 my-sm-0"><a href="/view/">View Main</a>
       </button>
    </div>

    <h1>SERVICE DIRECTORY</h1>
        {% for complaint in flat_model %}
        <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <medium class="text-primary"><b>Building</b> : {{ complaint.building_id.building_name }}</br></medium>
            <medium class="text-primary"><b>Name</b> : {{ complaint.name }}</br></medium>
            <medium class="text-muted"><b>Profession</b> : {{ complaint.profession }}</br></medium>
            <medium class="text-muted"><b>Phone Number</b> : {{ complaint.phone_no }}</br></medium>
          </div>
        </div>
        </article>
      {% endfor %}
  </body>
</html>
{% endblock %}