{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'table.css' %}">	
    <meta charset="utf-8">
  </head>
  <body>

    <h1>VIEW OCCUPANCIES</h1>
    <br>
    <div  id = "looodge_complaint_button">
       <button class="btn btn-outline-success my-1 my-sm-0"><a href="/view/add_occupancy">Add Occupancy</a></button>
      <button class="btn btn-outline-success my-2 my-sm-0"><a href="/view/">View Main</a></button>
      <button class="btn btn-outline-success my-2 my-sm-0"><a href="/view/remove_occupancy">Remove Occupancy</a></button>
    </div>
    <br>
      {% for complaint in occupies %}
        <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <medium class="text-muted"><b>User</b> : {{ complaint.user_id }}</br></medium>
            <medium class="text-muted"><b>Flat</b> : {{ complaint.flat_id }}</br></medium>
            <medium class="text-muted"><b>Ownership</b> : {{ complaint.ownership }}</br></medium>
          </div>
        </div>
        </article>
      {% endfor %}
  </body>
</html>
{% endblock %}