{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet">	
    <meta charset="utf-8">
  </head>
  <body>
    <legend class = "border-bottom mb-4"><h2 class="text-center"><img  src="/static/complaint.png" width = "45" height = "45" alt="home" /> <strong>Registered Complaints</strong></h2></legend>
        {% for name, image_url, complaint in values %}
        <article class="media content-section">
        <img class = "rounded-circle article-img"src = "{{ image_url }}">
        <div class="media-body">
          <div class="article-metadata">
            <medium class="text-muted"><b>Name</b> : {{ name }}</br></medium>
            <medium class="text-muted"><b>Complaint-ID</b> : {{ complaint.complaint_id }}</br></medium>
            <medium class="text-muted"><b>Status</b> : {{ complaint.get_status_display }}</br></medium>
            <medium class="text-muted"><b>Date & Time</b> : {{ complaint.date }}</br></medium>
            <medium class="text-muted"><b>Content</b> : {{ complaint.content }}</br></medium>
            <medium class="text-muted"><b>Comments</b> : {{ complaint.comments }}</br></medium>
            <form class="form-inline my-2 my-lg-3" method = "post" action="{% url 'complaints:admin-complaint' %}">
              {% csrf_token %}
            <input type = "hidden" name = "status" value = "">
            <input type="radio" id="progress" name="status" value="PRG">
            <label for="progress"> In Progress </label><br>
            <input type="radio" id="completed" name="status" value="CMP">
            <label for="completed"> Completed  </label><br>
            
            <input class="form-control mr-sm-2" type="comments" placeholder="" aria-label="comments" name="comments">
            <input type = "hidden" name = "complaint_id" value = "{{ complaint.complaint_id }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit Comments</button>
            
        </form>
          </div>
        </div>
        </article>
      {% endfor %}
  </body>
</html>
{% endblock %}