{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'table.css' %}">	
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>COMPLAINTS</h1>
    <div  id = "lodge_complaint_button">
       <button class="btn btn-outline-success my-2 my-sm-0"><a href="{% url 'complaints:lodge_complaint' user_id %}">Lodge Complaint</a>
       </button>
    </div>
    <table class = 'table table-bordered table-hover' style="width:100%">
    	<thead class="thead-dark">
      	<tr>
      		{% for header in column_headers %}
      	   	<th>{{ header }}</th>
      		{% endfor %}
      	</tr>
      </thead>
      {% for complaint in complaints_list %}
      <tr>
         <td>{{ complaint.complaint_id }}</td>
         <td>{{ complaint.user_id }}</td>
         <td>{{ complaint.get_status_display }}</td>
         <td>{{ complaint.content }}</td>
         <td>{{ complaint.date }}</td>
         <td>{{ complaint.comments }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
{% endblock %}